.recap {
  background: $neutral-700;
  border-radius: 10px;
  color: $neutral-400;
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  @include breakpoint {
    width: 500px;
    max-height: 150px;
    padding: 3rem;
  }
  &__content {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    @include breakpoint {
      text-align: left;
    }
    &--bold {
      font-weight: 700;
      color: $neutral-100;
    }
  }
  &__progress {
    margin-bottom: 2rem;
    flex: 0 0 100%;
    @include breakpoint {
      margin-bottom: 0;
    }
  }
  &__data {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    background: #fff;
    text-transform: uppercase;
    font-weight: 700;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: auto;
    @include breakpoint {
      top: 0;
      bottom: auto;
      transform: translate(1.3rem, -60%);
      &::after {
        content: '';
        border-right: 2rem solid #fff;
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        position: absolute;
        bottom: -20%;
        right: 0;
        height: 0;
        width: 0;
      }
    }
    &--bold {
      font-size: 3rem;
      padding-right: .5rem;
      color: $neutral-900;
    }
  }
}